{% extends "base.html" %}

{% block main %}
  <h2>Contact Form</h2>
  <form action="{{ url_for('contact') }}" method=post>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    {{ form.name.label }}
    <p>Please enter your full name.</p>
    {{ form.name }}
    <br>

    {{ form.email.label }}
    <p>Please enter your e-mail address</p>
    {{ form.email }}
    <br>

    {{ form.subject.label }}
    <p>Please enter the subject of your message</p>
    {{ form.subject }}
    <br>

    {{ form.message.label }}
    <p>Please enter the message you would like to send.</p>
    {{ form.message }}
    <br>

    {{ form.submit }}
  </form>
{% endblock %}